[submodule "DLEngine/vendor/assimp"]
	path = DLEngine/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "DLEngine/vendor/spdlog"]
	path = DLEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "DLEngine/vendor/DirectXTex"]
	path = DLEngine/vendor/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "DLEngine/vendor/imgui"]
	path = DLEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
